body {
    margin: 0;
    background-image: url("/bg.png");
}

#wrapper {
    width: 500px;
    margin: auto;
    margin-top: 100px;
}

#board {
    background-color: #F5F5F5;
    box-shadow: 0 0 5px 5px #0A0A0A;
    width: 400px;
    height: 400px;
    margin: auto;
    margin-bottom: 15px;
}    

#boardTable {
    height: 100%;
    width: 100%;
}

tr {
    height: 133px;
}

td {
    width: 33%;
    border-right: 1px solid #757575;
    border-bottom: 1px solid #757575;
    cursor: pointer;
}

td:last-child {
    border-right: none;    
}

tr:last-child td {
    border-bottom: none;    
}

td.filled {
    cursor: cursor;    
}

#turn {
    width: 360px;
    margin: auto;
    box-shadow: 0 0 5px 5px #0A0A0A;
    text-align: center;
    padding: 20px;
    font-size: 40px;
    font-family: Arial;
    text-shadow: 1px 1px 2px #ffffff;
}

.blue {
    background-color: #010026;    
    color: #010021;
}

.red {
    background-color: #800000;
    color: #260000;
}

div.tile {
    margin: auto;
    height: 90px;
    width: 90px;
    border-radius: 100%;
}

#newGame {
    width: 400px;
    margin-left: 50px;
    font-size: 40px;
    font-family: Arial;
    text-shadow: 1px 1px 2px #FFFFFF;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 5px 5px #0A0A0A;
    background-color: #08A300;
    color: #056900;
    text-shadow: 1px 1px 2px #ffffff;
    border: none;
    display: none;
    cursor: pointer;
}